body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #0a0a23;
    color: black;
}

#text-input {
    padding: 10px;
    width: 300px;
    align-items: center;
}

#check-btn {
      padding: 10px;
      cursor: pointer;
      background-color: blueviolet;
      color: white;
      border: none;
      border-radius: 5px;
}

#result {
    margin-top: 10px;
}

.main {
    background-color: white;
    width: 500px;
    height: 120px;
    margin: auto;
    border-radius: 20px;
    
    align-self: center;
    align-content: center;
}

h1, h2{
    color: white;
}

.explanation{
    background-color: darkgreen;
    color: white;
    width: 500px;
    height: 120px;
    margin: auto;
    border-radius: 20px;
    padding-top: 30px;
    margin-top: 40px;
    
}
